@using System.Web.Optimization
@model IC.UI.Models.CourseViewModel

@{
    ViewBag.Title = Model.Id == 0 ? "Create Course" : "Edit Course";
}


<section id="edit-form">
    @using (Html.BeginForm("Edit", "Course", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <br />
        @Html.EditorForModel()
        <div class="form-group text-right">
            <input type="submit" class="btn btn-success" value="Save" />
        </div>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


